<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" href="http://unpkg.com/@beyonk/gdpr-cookie-consent-banner/dist/style.css" />
    <script src="http://unpkg.com/@beyonk/gdpr-cookie-consent-banner/dist/browser/bundle.min.js"></script>
    <title>SkyMall | 商城</title>
    <style>

    </style>
</head>
<body class="site-home">
<!--头部模块-->
<GdprBanner cookieName="foo" description="bar" />
</div>
<!--底部-->
</body>
<script>
    const options = {
        /**
         * You must set the cookie name.
         **/
        cookieName: 'beyonk_gdpr',

        /**
         * The cookie configuration, such as domain and path.
         **/
        cookieConfig: {
            domain: 'example.com',
            path: '/'
        },

        /**
         * These are the top two lines of text on the banner
         * The 'description' field can include html such as links
         **/
        heading: 'GDPR Notice',
        description: 'We use cookies to offer a better browsing experience, analyze site traffic, personalize content, and serve targeted advertisements. Please review our <a href="/privacy-policy">privacy policy page</a>. By clicking accept, you consent to our privacy policy & use of cookies.',

        /**
         * All the button labels
         **/
        acceptLabel: 'Confirm all',
        settingsLabel: 'Preferences',
        closeLabel: 'Close window',

        /**
         * These are the default opt-ins and their descriptions.
         * When value is set to true, the option will automatically be checked on load.
         *
         * If you want to hide a category, simply set it to false, e.g. 'marketing: false'
         **/
        choices: {
            necessary: {
                label: "Necessary cookies",
                description: "Used for cookie control. Can't be turned off.",
                value: true
            },
            tracking: {
                label: "Tracking cookies",
                description: "Used for advertising purposes.",
                value: true
            },
            analytics: {
                label: "Analytics cookies",
                description: "Used to control Google Analytics, a 3rd party tool offered by Google to track user behavior.",
                value: true
            },
            marketing: {
                label: "Marketing cookies",
                description: "Used for marketing data.",
                value: true
            }
        },

        /**
         * Show an icon to edit cookies later, when banner is closed.
         **/
        showEditIcon: true,

        /**
         * These are the functions which are run if a user opts-in to that category.
         * You should drop your cookies here (or set a variable to control the later dropping of cookies.
         *
         * If you are using svelte, you can use events instead - see the Svelte section below.
         **/
        categories: {
            analytics: function() {
                console.log('No analytics cookies specified')
            },
            tracking: function() {
                console.log('No tracking cookies specified')
            },
            marketing: function() {
                console.log('No marketing cookies specified')
            },
            necessary: function() {
                console.log('No necessary cookies specified')
            }
        }
    }
    GdprConsent.attachBanner(document.body, options)
</script>
</html>
