<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>SkyMall | 商城</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/gdpr-cookie-consent-banner.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/layui/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/layui/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/gdpr-cookie-consent-banner.js}"></script>
</head>
<body class="site-home">

<!--包含 头部模块-->
<div th:replace="mall/common::head"></div>

<!--页面主体内容-->
<div class="layui-container" id="content">
    <!--热门商品-->
    <div class="layui-row">
        <div class="layui-col-md12"><h1 class="site-h1"><i class="fa fa-heart" style="color: #FF5722;"></i> &nbsp;热门商品
        </h1></div>
    </div>
    <div class="layui-row" id="product_hot">

    </div>
    <!--最新商品-->
    <div class="layui-row">
        <div class="layui-col-md12"><h1 class="site-h1"><i class="fa fa-calendar" style="color: #FFB800;"></i>
            &nbsp;最新商品</h1></div>
    </div>
    <div class="layui-row" style="text-align: center;">
        <div class="layui-row" id="product_new">

        </div>
        <a class="more" href="javascript: more();">点击加载更多</a>
    </div>
    <script>
        //            <![CDATA[
        var pageNo = 0;
        $(function () {
            //加载热门商品
            loadHot();
            //加载最新商品
            loadNew(pageNo);
        });

        function loadHot() {
            $.get("product/hot.do", function (data) {
                if (data.state == 0) {
                    var div = $("#product_hot");
                    appendToPage(div, data.data);
                } else {
                    layer.msg("请求失败！")
                }
            });
        }

        function loadNew(pageindex) {
            $.get("product/new.do?pageSize=12&pageNo=" + pageindex, function (data) {
                layer.closeAll();
                if (data.state == 0) {
                    pageNo++;
                    var div = $("#product_new");
                    if ((!data.data || data.data.length <= 0) && pageNo > 0) {
                        layer.msg("没有更多了");
                    }
                    appendToPage(div, data.data);
                } else {
                    layer.msg("请求失败！")
                }
            });

        }
        //加载更多
        function more() {
            var load = layer.load();
            loadNew(pageNo);
        }
        // 将数据渲染到页面上
        function appendToPage(div, data) {
            $(data).each(function (index, item) {
                var productDiv = $("<div class='layui-col-md3 layui-col-xs6'></div>");
                var conetDiv = $("<div class='card layui-anim layui-anim-scale'></div>");
                productDiv.append(conetDiv);
                var imgdiv = $("<div class='product_image'><img src=" + item.image + "></div>");
                conetDiv.append(imgdiv);
                var priceDiv = $("<div style='text-align: left;'>商城价：<span class='price1'>" + item.shopPrice + "</span></div>");
                conetDiv.append(priceDiv);
                conetDiv.append($("<div class='product_title'><a href='/mall/product/get.html?id="+item.id+"'>" + item.title + "</a></div>"));
                div.append(productDiv);
            });
        }

        //            ]]>
    </script>


</div>
<!--底部-->
<div th:replace="mall/common::foot"></div>
<GdprBanner cookieName="foo" description="bar" />
<script>
    const options = {
        /**
         * You must set the cookie name.
         **/
        cookieName: 'beyonk_gdpr',

        /**
         * The cookie configuration, such as domain and path.
         **/
        cookieConfig: {
            domain: 'http://127.0.0.1:8081/',
            path: '/'
        },

        /**
         * These are the top two lines of text on the banner
         * The 'description' field can include html such as links
         **/
        heading: 'GDPR Notice',
        description: 'We use cookies to offer a better browsing experience, analyze site traffic, personalize content, and serve targeted advertisements. Please review our <a href="/privacy-policy">privacy policy page</a>. By clicking accept, you consent to our privacy policy <![CDATA[&]]>  use of cookies.',

        /**
         * All the button labels
         **/
        acceptLabel: 'Confirm all',
        settingsLabel: 'Preferences',
        closeLabel: 'Close window',

        /**
         * These are the default opt-ins and their descriptions.
         * When value is set to true, the option will automatically be checked on load.
         *
         * If you want to hide a category, simply set it to false, e.g. 'marketing: false'
         **/
        choices: {
            necessary: {
                label: "Necessary cookies",
                description: "Used for cookie control. Can't be turned off.",
                value: true
            },
            tracking: {
                label: "Tracking cookies",
                description: "Used for advertising purposes.",
                value: true
            },
            analytics: {
                label: "Analytics cookies",
                description: "Used to control Google Analytics, a 3rd party tool offered by Google to track user behavior.",
                value: true
            },
            marketing: {
                label: "Marketing cookies",
                description: "Used for marketing data.",
                value: true
            }
        },

        /**
         * Show an icon to edit cookies later, when banner is closed.
         **/
        showEditIcon: true,

        /**
         * These are the functions which are run if a user opts-in to that category.
         * You should drop your cookies here (or set a variable to control the later dropping of cookies.
         *
         * If you are using svelte, you can use events instead - see the Svelte section below.
         **/
        categories: {
            analytics: function() {
                console.log('No analytics cookies specified')
            },
            tracking: function() {
                console.log('No tracking cookies specified')
            },
            marketing: function() {
                console.log('No marketing cookies specified')
            },
            necessary: function() {
                console.log('No necessary cookies specified')
            }
        }
    }
    GdprConsent.attachBanner(document.body, options)
</script>
</body>
</html>
